<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Positions:</h4>
      <button class="waves-effect waves-light btn grey darken-1 btn-small"
              data-target="create-modal"
              (click)="onAddPosition()">
        Add position
      </button>
    </div>

    <div *ngIf="!isLoading; else loader">
      <div *ngIf="positions?.length ; else empty"
           class="collection">
        <a *ngFor="let position of positions"
           (click)="onSelectPosition(position)"
           class="collection-item collection-item-icon">
        <span>
            {{ position?.name }} <strong>{{ position?.cost }} UAH</strong>
        </span>
          <span>
            <i class="material-icons"
               (click)="onDeletePosition(position)">
              delete
            </i>
        </span>
        </a>
      </div>

      <ng-template #empty>
        <div class="center">
          There is no positions at the category
        </div>
      </ng-template>
    </div>

    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>

<form [formGroup]="modalForm"
      (ngSubmit)="onSubmitModal()">
  <div class="modal"
       #modal>
    <div class="modal-content">
      <h4 class="mb1">
        Add position
      </h4>

      <div class="input-field">
        <input
          formControlName="name"
          id="pos-name"
          type="text"
          [ngClass]="{'invalid': name?.invalid && name?.touched}">
        <label for="pos-name">
          Name
        </label>

        <span *ngIf="name.invalid && name.touched"
              class="helper-text red-text">
          Name is required
        </span>
      </div>

      <div class="input-field">
        <input id="pos-cost"
               formControlName="cost"
               type="number"
               min="1"
               [ngClass]="{'invalid': cost?.invalid && cost?.touched}">
        <label for="pos-cost">
          Cost
        </label>

        <span *ngIf="cost.invalid && cost.touched"
              class="helper-text red-text">
          Cost is required. Min number is 1 UAH
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="onCloseModal()"
              type="button"
              class="modal-action waves-effect waves-black btn-flat"
              [disabled]="modalForm?.disabled">
        Cancel
      </button>
      <button class="modal-action btn waves-effect"
              type="submit"
              [disabled]="modalForm?.disabled || modalForm?.invalid">
        Save
      </button>
    </div>
  </div>
</form>
